h1 {
  text-align: center;
  font-size: 50px;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
  width: 300px;
  height: 100%;
  padding: 20px 10px 10px 30px;
}

.gallery-wrapper img {
  transition: 1s;
  padding: 15px;
  width: 300px;
}

.gallery-wrapper img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
.back {
  text-align: end;
  padding-right: 50px;
}
.back a {
  font-size: 2.5em;
  color: lightseagreen;
  transition: 00.5s;
}

.space {
  height: 50px;
  width: 100%;
}
